In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [40]:
# import cs100.txt as one string
with open('cs100.txt', 'r') as file:
    scrape = file.read()

In [32]:
with open('100.txt', 'r') as file:
    scrape1 = file.read()
    
with open('100-200.txt', 'r') as file:
    scrape2 = file.read()
    
scrape = scrape1 + scrape2

In [33]:
len(scrape)

619490

In [41]:
soup = BeautifulSoup(scrape, 'html.parser')

# Extract the table rows
rows = soup.select('.researcher-item')

In [42]:
len(rows)

100

In [44]:
# Initialize lists to store html
universities = []
countries = []
scholars = []
publications = []
d_indexes = []

# Loop through each row and extract the required html
for i, row in enumerate(rows):
    university = row.select_one('h4').text.strip()
    country = row.select_one('span.sh').text.strip()
    scholar = row.select('span.rankings-info > span > span')[1].text.strip()
    publication = row.select('span.rankings-info > span > span')[2].text.strip()
    d_index = row.select('span.rankings-info > span > span')[4].text.strip()
    
    universities.append(university)
    countries.append(country)
    scholars.append(scholar)
    publications.append(publication)
    d_indexes.append(d_index)

# Create a DataFrame
data = {
    'University Name': universities,
    'Country': countries,
    'Scholars': scholars,
    'Publications': publications,
    'D-Index': d_indexes
}

df = pd.DataFrame(data)
df['Scholars'] = df['Scholars'].str.replace('Scholars', '').astype(int)
df['Publications'] = df['Publications'].str.replace(',', '').astype(int)
df['D-Index'] = df['D-Index'].str.replace(',', '').astype(int)

df['D-Index per Scholar'] = df['D-Index'] / df['Scholars']

df_sorted = df.sort_values(by='D-Index per Scholar', ascending=False)

df_sorted['Rank'] = df_sorted['D-Index per Scholar'].rank(ascending=False, method='dense').astype(int)

# Display the DataFrame
df

,University Name,Country,Scholars,Publications,D-Index,D-Index per Scholar
0,Carnegie Mellon University,United States,169,43400,10169,60.171598
1,MIT,United States,139,34406,8840,63.597122
2,Stanford University,United States,104,26086,7360,70.769231
3,"University of California, Berkeley",United States,81,23095,6108,75.407407
4,University of Illinois at Urbana-Champaign,United States,95,27389,5439,57.252632
...,...,...,...,...,...,...
95,McGill University,Canada,25,5859,1213,48.520000
96,"University of California, Riverside",United States,22,5829,1204,54.727273
97,Rice University,United States,22,5298,1192,54.181818
98,Aalto University,Finland,26,6709,1174,45.153846
99,University of Colorado Boulder,United States,24,4714,1169,48.708333